:root {
    --color1: rgb(11, 176, 242);
    --secndary-color: #2c4755;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Kanit", sans-serif;
    font-family: "Noto Naskh Arabic", serif;
}

@media (min-width: 190px) {
    .container {
        width: 175px;
    }
}

@media (min-width: 350px) {
    .container {
        width: 320px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* end globel  */
/* start components */
.special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    margin: 0;
    letter-spacing: -5px;
}

.special-heading+p {
    margin: -30px;
    text-align: center;
    font-size: 20px;
    color: #797979;
}

@media (max-width: 768px) {
    .special-heading {
        font-size: 60px;
    }

    .special-heading+p {
        margin-top: -20px;
    }
}


/* End components */
.header {
    padding: 25px;
    background-color: #5372ef;
    background-color: rgb(116 200 233 / 44%);
    animation-name: emran1;
    animation-duration: 5s;
    text-align: center;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-delay: 2s;
}

@keyframes emran1 {
    0% {
        background-color: #5372ef;
    }

    50% {
        background-color: #6af275;
        border-radius: 20px 0%;
    }

    100% {
        background-color: #5efabf;
    }
}

.header .links {
    position: relative;

}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.emran {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
    overflow: hidden;
    animation-name: emran;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border: 5px solid wheat;
    animation-delay: 10s;

}

@keyframes emran {
    0% {
        background-color: #5372ef;

    }

    50% {
        background-color: #6af275;

        border-radius: 10% 0%;
    }

    100% {
        background-color: #ee9690;
        border: 2px solid rgb(64, 47, 248);


    }
}

.header .container .logo {
    height: 100%;
    width: 100%;

}

.header h2 {
    color: #040200;
    font-weight: bold;
    font-size: 20px;
    width: fit-content;
    padding-right: 10px;
    text-shadow: -1px -2px 0 #f8f4f4;
}

@media (min-width: 400px) {
    .header h2 {
        font-size: 10px;
    }
}

@media (min-width: 768px) {
    .header h2 {
        font-size: 30px;
    }
}

.header .links .icon {
    width: 30px;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}

.header .links .icon span {
    background: #333;
    margin-bottom: 5px;
    height: 3px;
    font-size: 30px;

}

.header .links .icon span:first-child {
    width: 100%;
    height: 3px;
}

.header .links .icon span:nth-child(2) {
    width: 50%;
    height: 3px;
}

.header .links .icon span:last-child {
    width: 100%;
    height: 3px;
}

.header .links ul {
    min-width: 200px;
    background: #ddd;
    left: -72px;
    position: absolute;
    margin: 0;
    padding: 0;
    top: calc(100% + 10px);
    list-style: none;
    display: none;
    border-radius: 20px;
}

.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #ddd transparent;
    position: absolute;
    top: -18px;
    left: 70px;

}

.header .links:hover ul {
    display: block;
}

.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #6a6363;
    transition: 0.5s;
}

.header .links ul li:hover a {
    padding-left: 30px;
}

/* 
.header,
.landing {
    background-color: #5372ef;

} */

.landing {
    /* background-image: url(../images/القاهر.jpg); */
    background-color: #011c85;
    border: 5px solid transparent;
    background-size: cover;
    height: calc(100vh -150px);
    /* border-radius: 20px; */
    display: flex;
    justify-content: center;
    padding: 15px;
}


.landing .text-intro {
    text-align: center;
}

.landing .text-intro h2 {
    padding: 0px;
    margin: 0;
    color: #f8f8f8;
    font-size: 40px;
    font-weight: bold;
    text-shadow: #0d0d0c -3px 4px 0px;
}

.landing .text-intro p {
    font-size: 25px;
    font-weight: bold;
    color: rgb(17, 17, 18);
    word-spacing: 5px;
    background-color: #fafcfc;
    border-radius: 30px;
    margin: 20px auto;
    padding: 10px 0px;
}

.landing .text-intro span {
    line-height: 1.5;
    font-size: 20px;
    font-weight: bold;
    color: #f6f4f4;
    word-spacing: 3px;



}


.landing .text-intro span::before {
    content: "";
    border-width: 20px;
    border-style: solid;
    border-color: #ff6a00 transparent transparent transparent;
    position: absolute;
    top: 66%;
    right: 104px;
    font-size: 8px;
    animation-name: emran2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;

}


@keyframes emran2 {
    0% {
        transform: translate(0%,
                30px);
    }

    25% {
        transform: translate(0%,
                55px);
    }

    50% {
        transform: translate(0%,
                70px);
    }

    75% {
        transform: translate(0%,
                85px);
    }

    100% {
        transform: translate(0%,
                90px);
    }
}


.landing .text-intro span::after {
    position: absolute;
    top: 80%;
    right: 69px;
    content: "مرر الشاشه الي الاسفل";
    color: #181817;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #ddd;
    padding: 3px;

}

@media (min-width: 190px) {
    .landing .text-intro span {
        font-size: 15px;
        line-height: 1;
    }
}


/* start featuers */
.featuers {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #ddd;

}

.featuers .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;

}

.featuers .feat {
    padding: 20px;
    text-align: center;
}

.featuers .feat img {
    height: 150px;
    width: 150px;
}

.featuers .feat h3 {
    font-size: 30px;
    font-weight: bold;
    color: #2e2d2d;
}

.featuers .feat p {
    font-size: 20px;
    font-weight: bold;
}

.services .service-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 100px;
}

.services .service-content .srv {
    display: flex;
    margin-top: 40px;
}

@media (max-width: 767px) {
    .services .service-content .srv {
        flex-direction: column;
        text-align: center;
    }
}

.services .service-content i {
    color: #0bcdef;
    flex-basis: 60px;
}

.services .service-content .text {
    flex: 1;
}

.services .service-content h3 {
    margin: 0 0 20px;
}

.services .service-content p {
    color: #777;
    font-weight: 300;
    line-height: 1.8;
}

.services .service-content .image {
    text-align: center;
    position: relative;
}

.services .service-content .image::before {
    content: "";
    background-color: var(--secndary-color);
    width: 80px;
    height: 400px;
    top: -50px;
    right: 5px;
    position: absolute;
    z-index: -1;
}

.services .service-content .image img {
    width: 240px;
    height: 300px;
}

@media (max-width: 1199px) {
    .image-colum {
        display: none;
    }
}

.images {
    margin-top: 30px;
    position: relative;
}

.images .container {
    background-color: #5efabf;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(3, 1fr));

}

@media (max-width: 750px) {
    .images .text-gelary {
        text-align: center;
    }
}


.images .imeg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 30px;
}

.images img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    padding-top: -40px;
}

/* 
.images .imeg div {
    width: 200px;
    height: 200px;
    border: red 2px solid;

}

.images .imeg div img {
    width: 100%;
    height: 100%;
} */
